<a href="https://colab.research.google.com/github/DaharaD/Tutorial-7/blob/main/Data_Preprocessing_DSPL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
file_path = '/content/drive/MyDrive/Data preprocessing DSPL/hdx_hapi_food_price_lka (4).csv'
df = pd.read_csv(file_path)
df.head()

,location_code,has_hrp,in_gho,provider_admin1_name,provider_admin2_name,admin1_code,admin1_name,admin2_code,admin2_name,admin_level,...,lon,commodity_category,commodity_name,unit,price_flag,price_type,currency_code,price,reference_period_start,reference_period_end
0,#country+code,#meta+has_hrp,#meta+in_gho,#adm1+name+provider,#adm2+name+provider,#adm1+code,#adm1+name,#adm2+code,#adm2+name,#adm+level,...,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#date+start,#date+end
1,LKA,False,False,Western,Colombo,LK1,Western,LK11,Colombo,2,...,79.85,oil and fats,Oil (coconut),750 ML,actual,Retail,LKR,549.33,2023-03-15,2023-04-14
2,LKA,False,False,Western,Gampaha,LK1,Western,LK12,Gampaha,2,...,79.89,cereals and tubers,Potatoes (imported),KG,actual,Retail,LKR,159.35,2023-03-15,2023-04-14
3,LKA,False,False,Western,Gampaha,LK1,Western,LK12,Gampaha,2,...,79.89,cereals and tubers,Potatoes (local),KG,actual,Retail,LKR,339.2,2023-03-15,2023-04-14
4,LKA,False,False,Western,Gampaha,LK1,Western,LK12,Gampaha,2,...,79.89,"meat, fish and eggs",Eggs,Unit,actual,Retail,LKR,57.33,2023-03-15,2023-04-14

In [ ]:
# Understand structure and missing values
df.info()
df.describe(include='all')
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15384 entries, 0 to 15383
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   location_code           15384 non-null  object
 1   has_hrp                 15384 non-null  object
 2   in_gho                  15384 non-null  object
 3   provider_admin1_name    15384 non-null  object
 4   provider_admin2_name    15384 non-null  object
 5   admin1_code             15384 non-null  object
 6   admin1_name             15384 non-null  object
 7   admin2_code             15384 non-null  object
 8   admin2_name             15384 non-null  object
 9   admin_level             15384 non-null  object
 10  market_name             15384 non-null  object
 11  lat                     15384 non-null  object
 12  lon                     15384 non-null  object
 13  commodity_category      15384 non-null  object
 14  commodity_name          15384 non-null  object
 15  unit                    15384 non-null  object
 16  price_flag              15384 non-null  object
 17  price_type              15384 non-null  object
 18  currency_code           15384 non-null  object
 19  price                   15384 non-null  object
 20  reference_period_start  15384 non-null  object
 21  reference_period_end    15384 non-null  object
dtypes: object(22)
memory usage: 2.6+ MB

location_code             0
has_hrp                   0
in_gho                    0
provider_admin1_name      0
provider_admin2_name      0
admin1_code               0
admin1_name               0
admin2_code               0
admin2_name               0
admin_level               0
market_name               0
lat                       0
lon                       0
commodity_category        0
commodity_name            0
unit                      0
price_flag                0
price_type                0
currency_code             0
price                     0
reference_period_start    0
reference_period_end      0
dtype: int64